
# Default ignored files
/workspace.xml
# CodeStream ignored files
/../../ZJU-nCov-Hitcarder\.idea/codestream.xml
# CodeStream ignored files
/../../ZJU-nCov-Hitcarder\.idea/codestream.xml
# CodeStream ignored files
/../../ZJU-nCov-Hitcarder\.idea/codestream.xml